<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create List</title>
</head>

<body>
    <main>
        <div>
            <p>
                <a href="{% url 'todo_list_list' %}"> Main page </a>
                <a href="{% url 'todo_list_create' %}"> Create </a>
            </p>
        </div>
        <div>
            <h1> Create List </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button> Submit </button>
            </form>
        </div>
    </main>
</body>

</html>
