<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{todo_object.name}}</title>
</head>

<main>
    <div>
        <p>
            <a href="{% url 'todo_list_list' %}"> Main page </a>

            <a href="{% url 'todo_list_create' %}"> Create </a>

        </p>
    </div>

    <body>
        <h1>{{todo_object.name}}</h1>
        <div>
            <p>
                <a href="{% url 'todo_list_edit' todo_object.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_object.id %}"> Delete </a>

            </p>
        </div>

        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>

            {% for things in todo_object.items.all %}
            <tr>

                <td>{{things.task}}</td>
                <td>{{things.due_date}}</td>
            </tr>
            {% endfor %}


        </table>

    </body>
</main>

</html>
