<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<header>

</header>
<main>
    <div>
        <h1>
            My Lists
        </h1>
        <div>
            <p>
                <a href="{% url 'todo_list_list' %}"> Main page </a>
                <a href="{% url 'todo_list_create' %}"> Create </a>
            </p>
        </div>
        <table>
            <tr>
                <th> Name </th>
                <th> Number of items </th>
            </tr>
            {% for lists in todo_list %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' lists.id %}">{{lists.name}}</a>
                </td>

                <td>{{ lists.items.all|length }} </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</main>

</html>
<div> </div>
